/*Cores background e color*/
.redb{
  background-color: rgb(255, 60, 0);
}
.blueb{
  background-color: rgb(13, 134, 233);
}
.greenb{
  background-color: rgb(9, 206, 114);
}
.yellowb{
  background-color: rgb(250, 168, 16);
}
.redc{
color: rgb(255, 60, 0);
}
.bluec{
color: rgb(13, 134, 233);
}
.greenc{
color: rgb(9, 206, 114);
}
.yellowc{
color: rgb(250, 168, 16);
}
/*---------------------------------------------*/
.ContainerHead {
  position: fixed;
  top:0;
  left:0;
  background-color: black;
  width: 100%;
  color: white;
  font-size: 20px;
  font-family: "Raleway", sans-serif;
  z-index: 2;
}
.ContainerHead div {
  display: flex;
  margin-right: 1vw;
  padding: 1vh 0;
}

.flex {
  display: flex;
}

.justifyend {
  justify-content: flex-end;
}

.column {
  flex-direction: column;
}

.Dashboard {
  top: 4.5vh;
  left: 0;
  position: fixed;
  height: 100vh;
  max-width: 230px;
  min-width: 230px !important;
  background-color: white;
  z-index: 1;
}
.userbanner {
  margin: 18px 12px;
}
.imgCir {
  width: 46px;
  height: 46px;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 50%;
}
.imgCir img {
  width: 46px;
}

.containerub {
  max-width: 7vw;
  margin-left: 25px;
  flex-wrap: wrap;
}
.containerub p {
  margin: 0;
  color: rgb(17, 17, 17);
}
.containerub p span {
  font-weight: bolder;
  color: black;
}
.buttonsub a {
  padding: 8px 16px;
  color: black;
}
.containerub a:hover {
  background-color: grey;
}
hr {
  background-color: rgba(243, 241, 241, 0.952);
}
.dashtitle {
  margin: 2.5vh 0 0.5vh 1vw;
  font-weight: 400;
  color: rgb(17, 17, 17);
}
.menortitle {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
}
.optionsdashboard {
  height: 60%;
}
.optionsdashboard a {
  padding: 8px 16px;
  text-decoration: none;
  color: rgb(17, 17, 17);
  font-family: "Raleway", sans-serif;
  font-size: 15px;
}
.optionsdashboard a:hover {
  background-color: grey;
}
.container {
  width: 100vw;
  height: 100vh;
  /*overflow: hidden;*/
}
.containermain {
  margin-top: 20px;
  margin-left: 230px;
  min-width: calc(100vw - 230px);
  height: 100vw;
  padding-left: 1vw;
  box-sizing: border-box;
}
.title{
    padding-top: 2.5vh;
    font-weight: bolder;
}
.mvsu{ 
  flex-wrap: wrap;
  align-content: flex-start;
}
.mvsuitem{ /* Pensar em usar um max width e um min width, pensar responsivamente! */
    margin-right: 1vw;
    padding:16px 13px;  
    height: 135px;
    max-width: 380px;
    min-width: 150px;
    flex-grow: 1;
    flex-basis: 0;
    box-sizing: border-box;
    flex-wrap: wrap;
    align-content: flex-start;
}
@media screen and (max-width: 870px) {
  .mvsuitem{
    min-width: 210px;
  }
}

.teste1{
    width: 382px;
    color: white;
    justify-content: space-between;
    box-sizing: border-box;
}
.mvsuitem p{
    font-size: 24px;
    color: white;
}
.mvsutitle{
    margin-top: 0;
}

.componentfed{
  padding: 0 15px;
  width: 66.66666%;
}
.tablefeed{
  width: 100%;
  background-color: white;
  border-collapse: collapse;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif; 
}
.tablefeed tr:nth-child(even){
  background-color:#f1f1f1;
}
.tablefeed td:first-child{
  padding-left: 16px;
}
.tablefeed td{
  padding: 10px 0;

}





